<main class="main">
  <h1>Angular {{ title }}</h1>
  <input [(ngModel)]="name" placeholder="enter your Name" />
  {{ name }}
  <button (click)="handleClick()">Change Name</button>
  <button (click)="clearName()">Clear Name</button>
  <button (click)="alterNativeContent()">chech Tech</button>
  {{ technology }}
  <hr />
  <nav>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>

      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </li>
    </ul>
  </nav>
  <!-- <app-home></app-home> -->
</main>
<router-outlet />